@{
    ViewData["Title"] = "Site Rules";
}

<h1>Site Rules</h1>
<hr />
<ul>
    <li>Respect other users.</li>
    <li>Do not post offensive content.</li>
    <li>Do not spam.</li>
    <li>Follow copyright laws.</li>
    <li>Report any inappropriate content.</li>
</ul>

<p>By using this site, you agree to follow these rules. Violations may result in a ban or removal of content.</p>
<a asp-controller="Home" asp-action="Index" class="btn btn-primary mt-3">Back to Home</a>
