@using Microsoft.AspNetCore.Identity
@using ArtSharing.Data.Models.Models
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        var currentUser = await UserManager.GetUserAsync(User);
        <li class="nav-item">
            @* <a class="nav-link text-dark" asp-controller="Profile" asp-action="Index" title="Profile">@currentUser.UserName</a> *@
            <a asp-controller="Profile" asp-action="Index" class="auth-button">👤 @currentUser.UserName</a>
            <form asp-area="Identity" asp-page="/Account/Logout" method="post" class="d-inline">
                <button type="submit" class="auth-button">🚪 Logout</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a asp-area="Identity" asp-page="/Account/Login" class="auth-button">🔐 Login</a>
        </li>
        <li class="nav-item">
            <a asp-area="Identity" asp-page="/Account/Register" class="auth-button">📝 Register</a>
        </li>
    }
</ul>
